<!DOCTYPE html>
<!-- Grid -->
  <div class="w3-row w3-center w3-border">
<h1>Quiver</h1>
<h3>Lookin at <%= @board.nickname%></h3>
   <p><label> Model: <%= @board.model%></label></p>
   <p><label> Material: <%= @board.material%></label></p>
   <p><label> Brand: <%= @board.brand%></label></p>
   <p><label> Color: <%= @board.color%></label></p>
   <p><label> Dimentions: <%= @board.dimentions%></label></p>
   <p><label> Fins: <%= @board.fins%></label></p>
   <p><label> Finbox: <%= @board.finbox%></label></p>
   <p><label> Volume: <%= @board.volume%></label></p>
   <p><label> Dings: <%= @board.dings%></label></p>
   <p><label> Watertight? <%= @board.watertight%></label></p>
  </div>

  <!-- BUTTONS -->
  <div class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-medium">
    <a href="/boards/<%=@board.id%>/edit">
    <input type="button" value="Edit Board" class="front_button"></input> </a><br><br>
    <form method="post" action="/boards/<%=@board.id%>">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Remove Board" class="front_button"> <br><br>
    </form>
    <a href="/boards/home">
    <input type="button" value="View Quiver" class="front_button"></input> </a>
</div>